<div class="trivia-box">
  <div class="question-header">
    <Header
        @title="Pick your trivia criteria"
        @style="plain-header"
      />
  </div>
  <div class="answer-body">
    <DropDown
      data-test-select-category
      class="select-category"
      @placeholder="Select category"
      @options={{array "Sports"}}
      @selected={{this.category}}
      @onChange={{action (mut this.category)}}
    />

    <DropDown
      data-test-select-difficulty
      class="select-difficulty"
      @placeholder="Select difficulty"
      @options={{array "Easy" "Medium" "Hard"}}
      @selected={{this.difficulty}}
      @onChange={{action (mut this.difficulty)}}
    />
  </div>
  <div class="trivia-box-footer">


    {{this.difficulty}}
    {{this.category}}

    <LinkTo
      class="submit-button"
      @route="trivia-data"
      @models={{array this.difficulty this.category}}
      @input={{this.difficulty}}
      {{action "routeaction" this.difficulty this.category}}
    >
      Play
    </LinkTo>

  </div>
</div>
