<BoxDisplay
  @title={{@question}}
>
  {{#each @options as |option|}}
      <button
        class="answer-button"
        onClick={{action this.calculateAnswer option}}
        disabled={{this.isAnswered}}
        style={{this.style}}
      >
        {{option}}
      </button>
  {{/each}}


</BoxDisplay>

<LinkTo
  class="submit-button"
  @route={{@route}}
>
  {{@text}}
</LinkTo>


<!-- {{if (eq this.correct true) ? "right" : "wrong"}} -->
