<div class="trivia-box-container">
  <BoxDisplay
    @title="Pick your Ember trivia criteria"
  >
    <PowerSelect
      data-test-select-category
      @triggerClass="drop-down"
      @placeholder="Select category"
      @options={{array "Ember.JS"}}
      @selected={{this.category}}
      @onChange={{action (mut this.category)}} as |values|
    >
      {{values}}
    </PowerSelect>

    <PowerSelect
      data-test-select-difficulty
      @triggerClass="drop-down"
      @placeholder="Select difficulty"
      @options={{array "Easy" "Medium" "Hard"}}
      @selected={{this.difficulty}}
      @onChange={{action (mut this.difficulty)}} as |values|
    >
      {{values}}
    </PowerSelect>
  </BoxDisplay>

  <LinkTo
    class="submit-button"
    @route="trivia-data.question-one"
    @models={{array this.category this.difficulty}}
  >
    Play
  </LinkTo>
</div>
