<div class="trivia-box-container">
  <Question
    @id={{this.model.id}}
    @question={{this.model.question}}
    @correctAnswer={{this.model.correct_answer}}
    @options={{this.model.options}}
    @score={{this.model.score}}
    @route="trivia-data.question-three"
    @text="Next Question"
  />
</div>
